apiVersion: apps/v1
kind: Deployment
metadata:
  name: social-network-deployment
  labels:
    app: social-network
spec:
  replicas: 1
  selector:
    matchLabels:
      app: social-network
  template:
    metadata:
      labels:
        app: social-network
    spec:
      containers:
      - name: social-network
        image: {{ image }}
        ports:
        - containerPort: {{ api_port }}
        env:
          - name: API_SECRET
            value: "{{ api_secret }}"
          - name: TOKEN_HOUR_LIFESPAN
            value: "{{ token_hour_lifespan }}"
          - name: DATABASE_CONNECTION_STRING
            value: "{{ database_connection_string }}"
          - name: API_PORT
            value: "{{ api_port }}"
          - name: PROJECT_ID
            value: "{{ project_id }}"        
          - name: PUBSUB_TOPIC
            value: "{{ pubsub_topic }}"
          - name: SERVICE_ACCOUNT_KEY
            value: "{{ service_account_key }}" 
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
    labels:
        app: social-network
    name: social-network-service
spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: {{ api_port }}
    selector:
        app: social-network
    type: ClusterIP